.calc{
    display: flex;
    gap: 5px;
    align-items: center;
}
input{
    width: 50px;
    height: 30px;
    margin-left: 5px;
    text-align: center;
}
button{
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
#result{
    width: 200px;
    height: 33px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}